/**
* This injects Tailwind's base styles, which is a combination of
* Normalize.css and some additional base styles.
*
* You can see the styles here:
* https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
*
* If using `postcss-import`, use this import instead:
*
* @import "tailwindcss/preflight";
*/
@tailwind preflight;

/**
* This injects any component classes registered by plugins.
*
* If using `postcss-import`, use this import instead:
*
* @import "tailwindcss/components";
*/
@tailwind components;

/**
* Here you would add any of your custom component classes; stuff that you'd
* want loaded *before* the utilities so that the utilities could still
* override them.
*
* Example:
*
* .btn { ... }
* .form-input { ... }
*
* Or if using a preprocessor or `postcss-import`:
*
* @import "components/buttons";
* @import "components/forms";
*/

/**
* This injects all of Tailwind's utility classes, generated based on your
* config file.
*
* If using `postcss-import`, use this import instead:
*
* @import "tailwindcss/utilities";
*/
@tailwind utilities;

/**
* Here you would add any custom utilities you need that don't come out of the
* box with Tailwind.
*
* Example :
*
* .bg-pattern-graph-paper { ... }
* .skew-45 { ... }
*
* Or if using a preprocessor or `postcss-import`:
*
* @import "utilities/background-patterns";
* @import "utilities/skew-transforms";
*/

.purple {
	color: #50256f;
}

/* .hover\:bg-purple:hover {
    background-color: #efe4ff;
} */

.hover\:bg-white-a50:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.setup-1,
.setup-2,
.setup-3 {
	background-position: top center;
	background-repeat: no-repeat;
	background-size: contain;
}
.setup-1 {
	background-image: url(./assets/setup-1.png);
}
.setup-1 h1 {
	margin-bottom: 300px;
}
.setup-2 {
	padding-top: 380px;
	background-image: url(./assets/setup-2.png);
}
.setup-3 {
	padding-top: 380px;
	background-image: url(./assets/setup-3.png);
}

/* prettier-ignore */
header {
    background: linear-gradient(
        45deg,
        #613b7d 0%,

        #613b7d 18%,
        #694685 18%,

        #694685 34%,
        #72518c 34%,

        #72518c 50%,
        #7b5b93 50%,

        #7b5b93 66%,
        #84669a 66%,

        #84669a 82%,
        #8d71a1 82%,

        #8d71a1 100%
    );
}

/* prettier-ignore */
footer {
    background: linear-gradient(
        -225deg,
        #2d799f 0%,

        #2d799f 18%,
        #3780a4 18%,

        #3780a4 34%,
        #4286a9 34%,

        #4286a9 50%,
        #4c8dad 50%,

        #4c8dad 66%,
        #5794b2 66%,

        #5794b2 82%,
        #619bb7 82%,

        #619bb7 100%
    );
}
